<p id="notice"><%= notice %></p>


<h1><%= @user.username %></h1>
<% if !@user.active  && current_user && current_user.admin %>
    <span class="label label-info">frozen</span>
<% end %>

<p>
  <% if @user.ratings.empty? %>
      Hasn't made any ratings yet!
  <% else %>
      Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating is <%= @user.average_rating %>
  <% end %>
</p>

<% if @user.beer_clubs.any? %>
    <p>
      Member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
    </p>
<% else %>
    <p>No club memberships</p>
<% end %>

<p>
<h3>ratings:</h3>

<ul class="list-group">
  <% @user.ratings.each do |rating| %>
      <li class="list-group-item">
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </li>
  <% end %>
</ul>
</p>

<div class="btn-toolbar" role="toolbar" aria-label="...">
  <% if @user == current_user %>
      <div class="btn-group" role="group" aria-label="..."><%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %></div>
      <div class="btn-group" role="group" aria-label="..."><%= link_to 'Destroy', @user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></div>
  <% end %>
  <div class="btn-group" role="group" aria-label="..."><%= link_to 'Back', users_path, class: 'btn btn-default' %></div>

  <% if current_user && current_user.admin %>
      <% if @user.active %>
          <%= link_to "freeze account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
      <% else %>
          <%= link_to "reactivate account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
      <% end %>
  <% end %>
</div>
