<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Describtion:</strong>
  <%= @style.describtion %>
</p>

<p>
  <strong>beers</strong>
</p>
<ul>
  <% @style.beers.each do |beer| %>
      <li> <%= link_to beer.name, beer %> by <%=link_to beer.brewery.name, beer.brewery %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
