<p id="notice"><%= notice %></p>

<p>
<h2><%= @brewery.name %></h2>
<% if not @brewery.active %>
    <span class="label label-info">retired</span>
<% end %>
</p>

<p>
  <i>Established in <%= @brewery.year %></i>
</p>

<p> Number of beers: <%= @brewery.beers.count %> </p>

<ul class="list-group">
  <% @brewery.beers.each do |beer| %>
      <li class="list-group-item"><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
      Brewery has no ratings yet!
  <% else %>
      Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= round(@brewery.average_rating) %>
  <% end %>
</p>

<% if current_user %>
    <%= edit_and_destroy_buttons(@brewery) %>
<% end %>

<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>