<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
    city <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search" %>
<% end %>
<p></p>
<% if @places %>
    <table class="table table-hover">
      <% @places.each do |place| %>
          <tr>
            <td><%= link_to place.name, 'places/' + place.id %></td>
          </tr>
      <% end %>
    </table>
<% end %>